<div class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to 'Caller Service', root_path, class: 'navbar-brand' %>
    </div>
    <div class="navbar">
      <ul class="nav navbar-nav">
        <li>
          <%= link_to 'Students', students_path %>
        </li>
        <li>
          <%= link_to 'Majors', '#' %>
        </li>
      </ul>
    </div>
  </div>
</div>
